@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styling */
.bg-dashboard { background-color: #111a22; }
.border-dashboard { border-color: #243647; }
.bg-panel { background-color: #243647; }
.text-muted { color: #93adc8; }
.text-positive { color: #0bda5b; }
.text-negative { color: #fa6238; }

@container (max-width: 120px) { .col-120 { display: none; } }
@container (max-width: 240px) { .col-240 { display: none; } }
@container (max-width: 360px) { .col-360 { display: none; } }
